milestoneReport.html
milestoneReport_cache
milestoneReport_files
final_presentation-rpubs.html
final_presentation-figure
final_presentation.md
rsconnect
.Rhistory
*.Rdata
materials
work
originalData
data
.Rproj.user
.classpath
.project
.settings
target
